{% extends 'base.html.twig' %}
{% block title 'Tous nos biens'%}
{% block body %}
    <div class="jumbotron text-center mt-4">
        <h1>Voir nos biens</h1>
        <p></p>
    </div>
{% endblock %}
